body {
    margin: 0px;
    padding: 0px;
}

/*Menú*/

#logoHogwarts {
    margin: 0px;
    padding: 0px;
}

#fondoBody {
    background-image: url(./img/fondo.jpg);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.cart {
    margin-left: 10px;
}

@media (max-width: 768px) {
    #menuMovil {
        font-size: 16px;
    }

    #imagenCarritoMovil {
        width: 25px;
        margin-left: -5px;
    }
}

/*Callejon Diagon*/

#fondoCallejonDiagon {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/callejonDiagon.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    #fondoCallejonDiagon {
        background-position: center;
    }
}

/*Categorías*/
@media (max-width: 768px) {
    #nombreCategoriaMovil {
        font-size: 17px;
    }
}

/*Productos*/

.zoomProd:hover {
    transform: scale(1.02);
    transition: transform 0.6s;
}

.descripcion {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
    .descripcion {
      max-height: none;
      -webkit-line-clamp: unset;
    }
}

/*Producto Individual */
#linkCategoria {
    text-decoration: none;
}
#linkCategoria:hover {
    color: #a85;
}

/* 
{
[  
*/
